<p>Hola <%= @user.full_name %>!</p>

<p>
  Estamos muy contentos de que hayas decidido utilizar <%= @app_name %>, te aseguramos que no te defraudara y que
  estamos 100% comprometidos con mejorar la aplicacion para el mayor disfrute de nuestros clientes.
</p>

<p>
  Departe del equipo de <%= @app_name %>. Te deseamos un excelente dia y que la aplicacion te ayude a mejorar
  tu estilo de vida.
</p>
