<p>Hola <%= @user.full_name %>!</p>

<p>Nos ha llegado una solicitud para cambiar de contrasena. Puedes hacerlo mediante el siguiente link:</p>

<p><%= link_to 'Cambiar contrasena', create_frontend_url('change-password', token: @user.password_reset_token) %></p>

<p>Si tu no hiciste este pedido, ignora este correo.</p>
<p>Tu contrasena no sera cambiada hasta que utilices el link que esta arriba.</p>